<% include partials/header %>
<div class ="container">
    <div class="jumbotron">
            <h1> This is the Landing Page !! </h1>

            <a href="/campgrounds"> See All Camps </a>
            <a href="/campgrounds/new"> Create New Camp </a>

    </div>
        

</div>

<% include partials/footer %>